.btn {
    padding: 25px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 35px;
}

.c1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}